/* font*/
body {
    font-family: Arial, sans-serif;
}

/* styl položky */
.zasilka-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Ochrana před zrušením designu u W3.CSS*/
form {
    border: none !important;
}